@import "@styles/core.scss";

.size-small .innerInput {
  padding: 10px 12px;
}

.size-large .innerInput {
  padding: 10px 14px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;

  row-gap: 6px;
  width: 272px;

  &.fullWidthWrapper {
    width: 100%;
  }

  .topRow {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > p:first-child {
      color: $color-neutral-1100;
    }

    & > p:nth-child(2) {
      color: $color-neutral-900;
    }
  }

  .innerInput {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;

    border: 2px solid $color-neutral-500;
    border-radius: 8px;

    .input {
      width: 100%;
      border: none;
      outline: none;
      font-size: 14px;

      &::placeholder {
        font-size: 14px;
      }
    }

    .icon,
    .icon svg {
      @include size(20px);
      @include max-size(20px);
    }
  }

  .bottomRow {
    display: flex;

    & > p:first-child {
      color: $color-neutral-900;
    }
  }
}

.focusedWrapper .innerInput {
  border: 2px solid $color-blue-900;
}

.erroredWrapper {
  .innerInput {
    border: 2px solid $color-red-800;
  }

  .bottomRow p:first-child {
    color: $color-red-800;
  }
}

.disabledWrapper {
  opacity: 0.5;
}
