@import "@styles/core.scss";

.isButton {
  cursor: pointer;
}

.badgeWrapper {
  display: flex;
  align-items: center;

  border-radius: 4px;

  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  .icon,
  .icon svg {
    @include min-size(16px);
    @include max-size(16px);
  }
}

.size {
  &--2x-small {
    column-gap: 2px;
    padding: 2px 4px;

    & > p {
      font-size: 12px;
    }
  }

  &--extra-small {
    column-gap: 2px;
    padding: 4px 8px;
  }

  &--small {
    column-gap: 4px;
    padding: 6px 10px;
  }
}

.emphasis {
  &--low {
    &.variant {
      &--ghost {
        fill: $color-white;
        border: 1px solid $color-neutral-500;

        p {
          color: $color-neutral-1000;
        }
      }

      &--accent {
      }

      &--error {
      }

      &--warning {
      }

      &--success {
      }

      &--neutral {
      }
    }
  }

  &--high {
    &.variant {
      &--ghost {
      }

      &--accent {
      }

      &--error {
      }

      &--warning {
      }

      &--success {
      }

      &--neutral {
      }
    }
  }
}
