@import "@styles/core.scss";

.dropdownWrapper {
  display: flex;
  flex-direction: column;

  max-height: 200px;
  overflow-y: auto;
  width: fit-content;
  padding: 8px;
  row-gap: 4px;
  border-radius: 8px;
  scrollbar-width: none;
  background-color: $color-white;
  box-shadow:
    0px 0px 1px 0px rgba(0, 0, 0, 0.4),
    0px 8px 24px -6px rgba(0, 0, 0, 0.16);

  .optionWrapper {
    display: flex;
    align-items: center;
    cursor: pointer;

    column-gap: 8px;
    padding: 12px 8px;
    border-radius: 8px;
    transition: 0.2s;

    .iconWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      @include size(20px);
      @include max-size(20px);
    }

    .iconWrapper svg {
      @include size(20px);
    }

    &:focus {
      transition: none;
      outline: 2px solid $color-blue-900;

      p {
        color: $color-blue-900;
      }

      svg {
        @include stroke($color-blue-900);
      }
    }

    &:hover {
      background-color: $color-neutral-200;
    }

    &.selected {
      background-color: $color-neutral-300;
    }

    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    p {
      margin-bottom: 2px;
    }
  }
}
