@import "@styles/core.scss";

.size {
  &-small {
    @include size(4px);
  }

  &-large {
    @include size(8px);
  }
}

.color {
  &-blue {
    background-color: $color-blue-900;
  }
  &-white {
    background-color: $color-white;
  }
  &-black {
    background-color: $color-black;
  }
  &-green {
    background-color: $color-green-800;
  }
  &-grey {
    background-color: $color-neutral-800;
  }
}

.miscDotWrapper {
  border-radius: 50%;
}
