@import "@styles/core.scss";

.toastWrapper {
  display: flex;
  flex-direction: column;

  padding: 16px;
  border-radius: 8px;

  .header {
    display: flex;
    justify-content: space-between;

    .leftSide {
      display: flex;
      align-items: center;
      column-gap: 8px;

      .infoIcon {
        @include fill($color-white);
      }

      & > p {
        color: $color-white;
      }
    }

    .rightSide {
      display: flex;
      align-items: center;
      column-gap: 8px;

      a {
        color: $color-white;
      }

      .closeIcon {
        cursor: pointer;
        @include stroke(rgba($color-white, 0.5));
      }
    }
  }
}

// VARIANTS

.variant {
  &-error {
    background-color: $color-red-800;
  }
}
