@import "@styles/core.scss";

.authLayoutWrapper {
  width: 100vw;
  height: 100vh;

  background-image: url("@assets/images/auth-bg.png");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100% 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  row-gap: 32px;

  .company {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }
}
