@import "@styles/core.scss";

.hr {
  display: block;

  width: 100%;
  border: 0;
  height: 2px;

  background: $color-neutral-500;
}

.dividerWrapper {
  display: flex;
  align-items: center;
  column-gap: 12px;
  width: 100%;
}
