@import "@styles/core.scss";

// MIXINS
@mixin baseReset() {
  background-color: transparent;
  color: inherit;
  border: none;
  outline: none;
  box-shadow: none;
  @include fill(inherit);
}

@mixin reset() {
  @include baseReset();

  &:hover,
  &:focus,
  &.selected,
  &.disabled {
    @include baseReset();
  }
}

// DEFAULT STYLES
.button {
  @include baseReset();
  display: flex;
  justify-content: center;
  align-items: center;

  column-gap: 8px;
  transition: 0.2s;
  border-radius: 6px;

  &.fullWidth {
    width: 100%;
  }

  display: inline-flex;
  user-select: none;
  text-align: center;

  .icon,
  .icon > svg {
    display: flex;
    align-items: center;
    justify-content: center;
    @include size(20px);
  }

  cursor: pointer;
  &.disabled {
    border: none;
    box-shadow: none;
    cursor: not-allowed;
  }
}

// SIZES
.extra-large {
  padding: 14px;
}
.large {
  padding: 12px;
}
.medium {
  padding: 10px;
}
.small {
  padding: 8px;
}
.extra-small {
  padding: 6px;
}
.x2-small {
  padding: 5px;
}

// VARIANTS
.primary {
  background-color: $color-blue-900;
  color: $color-white;
  @include fill($color-white);

  &:hover {
    background-color: $color-blue-1000;
  }

  &:focus {
    background-color: $color-blue-1000;
    box-shadow:
      0px 0px 0px 3px rgb(220, 220, 222),
      0px 0px 0px 1px $color-white;
  }

  &.selected {
    border: 1.5px solid $color-blue-900;
    background-color: $color-white;
    color: $color-blue-900;
    @include fill($color-blue-900);
  }

  &.disabled {
    @include baseReset();
    background-color: $color-neutral-300;
    color: $color-neutral-700;
    @include fill($color-neutral-700);
  }

  &.destructive {
    @include reset();

    background-color: $color-red-800;
    color: $color-white;
    @include fill($color-white);

    &:hover {
      background-color: $color-red-900;
      color: $color-white;
      @include fill($color-white);
    }

    &:focus {
      color: $color-white;
      background-color: $color-red-900;
      box-shadow:
        0px 0px 0px 3px rgb(250, 164, 164),
        0px 0px 0px 1px $color-white;
      @include fill($color-white);
    }

    &.selected {
      border: 1.5px solid $color-red-800;
      background-color: $color-white;
      color: $color-red-800;
      @include fill($color-red-800);
    }

    &.disabled {
      @include baseReset();
      background-color: $color-neutral-300;
      color: $color-neutral-700;
      @include fill($color-neutral-700);
    }
  }
}

.secondary {
  background-color: $color-neutral-200;
  color: $color-neutral-1000;
  @include fill($color-neutral-1000);

  &:hover {
    background-color: $color-neutral-300;
    color: $color-neutral-1300;
    @include fill($color-neutral-1300);
  }

  &:focus {
    color: $color-neutral-1300;
    background-color: $color-white;
    box-shadow:
      0px 0px 0px 3px rgb(220, 220, 222),
      0px 0px 0px 1px $color-white;
    @include fill($color-neutral-1300);
  }

  &.selected {
    border: 1.5px solid $color-neutral-1300;
    background-color: $color-white;
    color: $color-neutral-1300;
    @include fill($color-neutral-1300);
  }

  &.disabled {
    @include baseReset();
    background-color: $color-neutral-300;
    color: $color-neutral-700;
    @include fill($color-neutral-700);
  }

  &.destructive {
    @include reset();

    background-color: $color-red-100;
    color: $color-red-700;
    @include fill($color-red-700);

    &:hover {
      background-color: $color-red-200;
      color: $color-red-700;
      @include fill($color-red-700);
    }

    &:focus {
      color: $color-red-700;
      background-color: $color-white;
      box-shadow:
        0px 0px 0px 3px rgb(250, 164, 164),
        0px 0px 0px 1px $color-white;
      @include fill($color-red-700);
    }

    &.selected {
      border: 1.5px solid $color-red-800;
      background-color: $color-white;
      color: $color-red-700;
      @include fill($color-red-700);
    }

    &.disabled {
      @include baseReset();
      background-color: $color-neutral-300;
      color: $color-neutral-700;
      @include fill($color-neutral-700);
    }
  }
}

.borders {
  background-color: $color-white;
  color: $color-neutral-1000;
  border: 1px solid $color-neutral-500;
  box-shadow: 0px 1.5px 4px -1px rgba(10, 9, 11, 0.07);
  @include fill($color-neutral-1000);

  &:hover {
    background-color: $color-neutral-300;
    color: $color-neutral-1300;
    @include fill($color-neutral-1300);
  }

  &:focus {
    color: $color-neutral-1300;
    background-color: $color-white;
    box-shadow:
      0px 0px 0px 3px rgb(220, 220, 222),
      0px 0px 0px 1px $color-white;
    border: 1px solid $color-neutral-600;
    @include fill($color-neutral-1300);
  }

  &.selected {
    border: 1.5px solid $color-neutral-1300;
    background-color: $color-white;
    color: $color-neutral-1300;
    @include fill($color-neutral-1300);
  }

  &.disabled {
    @include baseReset();
    background-color: $color-neutral-300;
    color: $color-neutral-700;
    @include fill($color-neutral-700);
  }

  &.destructive {
    @include reset();

    background-color: $color-white;
    color: $color-red-700;
    border: 1px solid $color-neutral-500;
    @include fill($color-red-700);

    &:hover {
      background-color: $color-white;
      color: $color-red-700;
      border: 1px solid $color-red-700;
      @include fill($color-red-700);
    }

    &:focus {
      color: $color-red-700;
      background-color: $color-white;
      box-shadow:
        0px 0px 0px 3px rgb(250, 164, 164),
        0px 0px 0px 1px $color-white;
      border: 1px solid $color-red-700;
      @include fill($color-red-700);
    }

    &.selected {
      border: 1.5px solid $color-red-800;
      background-color: $color-white;
      color: $color-red-700;
      @include fill($color-red-700);
    }

    &.disabled {
      @include baseReset();
      background-color: $color-neutral-300;
      color: $color-neutral-700;
      @include fill($color-neutral-700);
    }
  }
}

.no-borders {
  background-color: $color-white;
  color: $color-neutral-1000;
  @include fill($color-neutral-1000);

  &:hover {
    background-color: $color-neutral-300;
    color: $color-neutral-1300;
    @include fill($color-neutral-1300);
  }

  &:focus {
    color: $color-neutral-1300;
    background-color: $color-white;
    box-shadow:
      0px 0px 0px 3px rgb(220, 220, 222),
      0px 0px 0px 1px $color-white;
    @include fill($color-neutral-1300);
  }

  &.selected {
    border: 1.5px solid $color-neutral-1300;
    background-color: $color-white;
    color: $color-neutral-1300;
    @include fill($color-neutral-1300);
  }

  &.disabled {
    @include baseReset();
    background-color: $color-white;
    color: $color-neutral-700;
    @include fill($color-neutral-700);
  }

  &.destructive {
    @include reset();

    background-color: $color-white;
    color: $color-red-700;
    @include fill($color-red-700);

    &:hover {
      background-color: $color-red-200;
      color: $color-red-700;
      @include fill($color-red-700);
    }

    &:focus {
      color: $color-red-700;
      background-color: $color-white;
      box-shadow:
        0px 0px 0px 3px rgb(250, 164, 164),
        0px 0px 0px 1px $color-white;
      @include fill($color-red-700);
    }

    &.selected {
      border: 1.5px solid $color-red-800;
      background-color: $color-white;
      color: $color-red-700;
      @include fill($color-red-700);
    }

    &.disabled {
      @include baseReset();
      background-color: $color-white;
      color: $color-neutral-700;
      @include fill($color-neutral-700);
    }
  }
}

.grey {
  background-color: $color-neutral-1300;
  color: $color-white;
  @include fill($color-white);

  &:hover {
    background-color: $color-neutral-1000;
    color: $color-white;
    @include fill($color-white);
  }

  &:focus {
    color: $color-white;
    background-color: $color-neutral-1000;
    box-shadow:
      0px 0px 0px 3px rgb(220, 220, 222),
      0px 0px 0px 1px $color-white;
    @include fill($color-white);
  }

  &.selected {
    border: 1.5px solid $color-neutral-1300;
    background-color: $color-white;
    color: $color-neutral-1300;
    @include fill($color-neutral-1300);
  }

  &.disabled {
    @include baseReset();
    background-color: $color-neutral-300;
    color: $color-neutral-700;
    @include fill($color-neutral-700);
  }

  &.destructive {
    @include reset();

    background-color: $color-red-800;
    color: $color-white;
    @include fill($color-white);

    &:hover {
      background-color: $color-red-900;
      color: $color-white;
      @include fill($color-white);
    }

    &:focus {
      color: $color-white;
      background-color: $color-red-900;
      box-shadow:
        0px 0px 0px 3px rgb(220, 220, 222),
        0px 0px 0px 1px $color-white;
      @include fill($color-white);
    }

    &.selected {
      border: 1.5px solid $color-red-800;
      background-color: $color-white;
      color: $color-red-800;
      @include fill($color-red-800);
    }

    &.disabled {
      @include baseReset();
      background-color: $color-neutral-300;
      color: $color-neutral-700;
      @include fill($color-neutral-700);
    }
  }
}

.ignoreSvgColor {
  @include fill(revert-layer);

  &:hover,
  &:focus,
  &.selected,
  &.disabled {
    @include fill(revert-layer);
  }
}
