@import "@styles/core.scss";

.roundAvatarWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  &.withInitials {
    background-color: $color-indigo-200;

    & > p {
      text-align: center;
      color: $color-blue-900;
      @include truncate(100%);
    }
  }

  &.withStub {
    background-color: $color-neutral-400;
  }

  &.withImg > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;

    object-fit: cover;
  }
}

// SIZES
.size-2xl {
  @include size(64px);

  & > p {
    font-size: 24px;
  }

  & > svg {
    width: 22px;
    height: 26px;
  }
}
.size-xl {
  @include size(56px);

  & > p {
    font-size: 20px;
  }

  & > svg {
    width: 20px;
    height: 22px;
  }
}
.size-l {
  @include size(48px);

  & > p {
    font-size: 20px;
  }

  & > svg {
    width: 16px;
    height: 20px;
  }
}
.size-m {
  @include size(40px);

  & > p {
    font-size: 16px;
  }

  & > svg {
    width: 12px;
    height: 16px;
  }
}
.size-s {
  @include size(32px);

  & > p {
    font-size: 14px;
  }

  & > svg {
    width: 10px;
    height: 12px;
  }
}
.size-xs {
  @include size(24px);

  & > p {
    font-size: 12px;
  }

  & > svg {
    width: 10px;
    height: 12px;
  }
}
.size-2x {
  @include size(20px);

  & > p {
    font-size: 10px;
  }

  & > svg {
    width: 8px;
    height: 10px;
  }
}
.size-3x {
  @include size(16px);

  & > p {
    font-size: 8px;
  }

  & > svg {
    width: 6px;
    height: 6px;
  }
}
