@import "@styles/core.scss";

.selectInputWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  .selectInput {
    display: flex;
    flex-direction: column;
    row-gap: 8px;

    .bottomRow {
      width: fit-content;
      display: flex;
      align-items: center;
      padding: 10px;
      transition: 0.3s;
      column-gap: 8px;

      border: 2px solid $color-neutral-500;
      border-radius: 8px;

      &.focusedWrapper {
        border: 2px solid $color-blue-900;
      }

      .leftIconWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .input {
        width: 100%;
        border: none;
        outline: none;
        font-size: 14px;

        &::placeholder {
          font-size: 14px;
        }
      }

      .rightSideWrapper {
        display: flex;
        column-gap: 4px;
        align-items: center;

        span {
          width: 1px;
          min-height: 12px;
          background-color: $color-neutral-1000;
        }

        svg {
          cursor: pointer;
          @include size(24px);
          @include max-size(24px);
        }
      }

      svg {
        @include size(20px);
        @include max-size(20px);
        @include stroke($color-neutral-1000);
      }
    }
  }
}

.fullWidth .bottomRow {
  width: 100% !important;
}
