@import "@styles/core.scss";

.authFormWrapper {
  display: flex;
  max-height: 90vh;

  .formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;

    row-gap: 32px;
    width: 512px;
    min-height: 512px;
    background-color: $color-white;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 40px 48px;

    .innerForm {
      width: 100%;
      height: 100%;
    }

    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 8px;

      & > p:nth-child(2) {
        color: $color-neutral-1000;
        text-align: center;
      }
    }

    &.withoutBanner {
      width: 848px;
      justify-content: center;
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;

      .header,
      .innerForm {
        max-width: 244px;
      }

      .innerForm {
        height: auto;
      }
    }
  }

  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    row-gap: 32px;
    padding: 32px;
    width: 336px;

    backdrop-filter: blur(30px);
    background: rgba($color-white, 0.4);

    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;

    .text {
      text-align: center;
      font-size: 16px;
      line-height: 20px;
    }

    .authorBlock {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 12px;

      .description {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 4px;

        & > p:nth-child(2) {
          color: $color-flat-1000;
          opacity: 0.4;
        }
      }
    }
  }
}
