@import "./reset.scss";
@import "./fonts.scss";
@import "./media.scss";
@import "./mixins.scss";
@import "./colors.scss";
@import "./z-indexes.scss";

* {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 4px;
  display: block;
}

::-webkit-scrollbar-track {
  background: $color-neutral-600;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: $color-neutral-1000;
  border-radius: 5px;
}
