/* Inter Black */
@font-face {
  font-family: "Inter";
  src: url("@assets/fonts/Inter-Black.otf");
  font-weight: 900;
  font-style: normal;
}

/* Inter Black Italic */
@font-face {
  font-family: "Inter";
  src: url("@assets/fonts/Inter-BlackItalic.otf");
  font-weight: 900;
  font-style: italic;
}

/* Inter Bold */
@font-face {
  font-family: "Inter";
  src: url("@assets/fonts/Inter-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

/* Inter Bold Italic */
@font-face {
  font-family: "Inter";
  src: url("@assets/fonts/Inter-BoldItalic.otf");
  font-weight: bold;
  font-style: italic;
}

/* Inter ExtraBold */
@font-face {
  font-family: "Inter";
  src: url("@assets/fonts/Inter-ExtraBold.otf");
  font-weight: 800;
  font-style: normal;
}

/* Inter ExtraBold Italic */
@font-face {
  font-family: "Inter";
  src: url("@assets/fonts/Inter-ExtraBoldItalic.otf");
  font-weight: 800;
  font-style: italic;
}

/* Inter ExtraLight */
@font-face {
  font-family: "Inter";
  src: url("@assets/fonts/Inter-ExtraLight.otf");
  font-weight: 200;
  font-style: normal;
}

/* Inter ExtraLight Italic */
@font-face {
  font-family: "Inter";
  src: url("@assets/fonts/Inter-ExtraLightItalic.otf");
  font-weight: 200;
  font-style: italic;
}

/* Inter Italic */
@font-face {
  font-family: "Inter";
  src: url("@assets/fonts/Inter-Italic.otf");
  font-weight: normal;
  font-style: italic;
}

/* Inter Light */
@font-face {
  font-family: "Inter";
  src: url("@assets/fonts/Inter-Light.otf");
  font-weight: 300;
  font-style: normal;
}

/* Inter Light Italic */
@font-face {
  font-family: "Inter";
  src: url("@assets/fonts/Inter-LightItalic.otf");
  font-weight: 300;
  font-style: italic;
}

/* Inter Medium */
@font-face {
  font-family: "Inter";
  src: url("@assets/fonts/Inter-Medium.otf");
  font-weight: 500;
  font-style: normal;
}

/* Inter Medium Italic */
@font-face {
  font-family: "Inter";
  src: url("@assets/fonts/Inter-MediumItalic.otf");
  font-weight: 500;
  font-style: italic;
}

/* Inter Regular */
@font-face {
  font-family: "Inter";
  src: url("@assets/fonts/Inter-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

/* Inter SemiBold */
@font-face {
  font-family: "Inter";
  src: url("@assets/fonts/Inter-SemiBold.otf");
  font-weight: 600;
  font-style: normal;
}

/* Inter SemiBold Italic */
@font-face {
  font-family: "Inter";
  src: url("@assets/fonts/Inter-SemiBoldItalic.otf");
  font-weight: 600;
  font-style: italic;
}

/* Inter Thin */
@font-face {
  font-family: "Inter";
  src: url("@assets/fonts/Inter-Thin.otf");
  font-weight: 100;
  font-style: normal;
}

/* Inter Thin Italic */
@font-face {
  font-family: "Inter";
  src: url("@assets/fonts/Inter-ThinItalic.otf");
  font-weight: 100;
  font-style: italic;
}

/* Inter Variable */
@font-face {
  font-family: "Inter";
  src: url("@assets/fonts/Inter-V.ttf");
  font-weight: normal;
  font-style: normal;
}
