@mixin mobile() {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin laptop() {
  @media (min-width: 1440px) {
    @content;
  }
}
