@mixin size($size) {
  width: $size;
  height: $size;
}

@mixin min-size($size) {
  min-width: $size;
  min-height: $size;
}

@mixin max-size($size) {
  max-width: $size;
  max-height: $size;
}

@mixin fill($color) {
  svg {
    fill: $color;
  }
  g {
    fill: $color;
  }
  path {
    fill: $color;
  }
}

@mixin stroke($color) {
  svg {
    stroke: $color;
  }
  g {
    stroke: $color;
  }
  path {
    stroke: $color;
  }
}

@mixin truncate($width: 100px) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: $width;
}
