@import "@styles/core.scss";

a {
  cursor: pointer;
}

.h1 {
  font-weight: 600;
  font-size: 72px;
}

.h2 {
  font-weight: 700;
  font-size: 52px;
}

.h3 {
  font-weight: 700;
  font-size: 40px;
}

.h4 {
  font-weight: 700;
  font-size: 32px;
}

.h5 {
  font-weight: 700;
  font-size: 28px;
}

.h6 {
  font-weight: 700;
  font-size: 24px;
}

.body1 {
  font-weight: 500;
  font-size: 16px;
}

.body2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}

.link1 {
  font-weight: 400;
  font-size: 14px;
}

.link2 {
  font-weight: 500;
  font-size: 14px;
  text-decoration: underline;
}

.caption {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}
