@import "@styles/core.scss";

.size {
  &-small {
    @include size(24px);
  }

  &-large {
    @include size(56px);
  }
}

.loaderWrapper {
  animation: ring-animation 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

@keyframes ring-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
