@import "@styles/core.scss";

.detailsStepWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 16px;
  height: 100%;

  .inputs {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    .dividerText {
      color: $color-neutral-1000;
      white-space: nowrap;
    }
  }

  .footer {
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    .steps {
      display: flex;
      justify-content: center;
    }
  }
}
