@import "@styles/core.scss";

.createAccountStepWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  .dividerText {
    color: $color-neutral-1000;
  }

  .formWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    .inputs {
      display: flex;
      flex-direction: column;
      row-gap: 8px;

      svg {
        @include stroke($color-neutral-1000);
        cursor: pointer;
      }
    }

    .controls {
      display: flex;
      flex-direction: column;
      row-gap: 16px;

      .rightArrowIcon {
        @include stroke($color-white);
      }

      .questions {
        display: flex;
        justify-content: space-between;

        & > a:first-child {
          color: $color-blue-900;
        }

        & > a:nth-child(2) {
          color: $color-neutral-1000;
        }
      }
    }

    .steps {
      display: flex;
      justify-content: center;
    }
  }
}
