@import "@styles/core.scss";

.tagInputWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  .centerRow {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: 100%;

    padding: 8px;
    transition: 0.3s;
    border-radius: 8px;
    border: 2px solid $color-neutral-500;

    &.focusedWrapper {
      border: 2px solid $color-blue-900;
    }

    input {
      width: 100%;
      border: none;
      outline: none;

      padding: 4px;
      font-size: 14px;

      &::placeholder {
        font-size: 14px;
      }
    }

    .badgesWrapper {
      display: flex;
      flex-wrap: wrap;
      column-gap: 8px;
      row-gap: 8px;
    }
  }

  .secondaryTitle {
    color: $color-neutral-800;
  }
}
