@import "@styles/core.scss";

.size {
  &-small {
    width: 444px;
  }
}

.modalWrapper {
  inset: 0;
  z-index: $z-modal;
  position: fixed;

  .modalContainer {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .modal {
      display: flex;
      flex-direction: column;

      row-gap: 8px;
      padding: 12px 20px 20px;
      max-height: 90vh;
      border-radius: 10px;
      background: $color-white;

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .leftSide {
          display: flex;
          align-items: center;
          column-gap: 8px;
        }

        svg {
          cursor: pointer;
        }

        svg:nth-child(2) {
          @include size(30px);
        }

        @include stroke($color-black);
      }

      .inner {
        line-height: normal;
        overflow-y: auto;
      }

      .footer {
        display: flex;
        column-gap: 16px;
      }
    }
  }
}
