@import "@styles/core.scss";

.modalWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  row-gap: 32px;
  padding: 16px 0;
  width: 100%;

  & > img {
    @include size(100px);
  }

  & > p {
    width: 300px;
    text-align: center;
  }
}
